<option value="" disabled selected>Choose your destination</option>
<optgroup label="Australia">
    <option value="SYD" aria-label="Sydney">Sydney</option>
</optgroup>
<optgroup label="Bangladesh">
    <option value="DAC" aria-label="Dhaka">Dhaka</option>
</optgroup>
<optgroup label="Brunei Darussalam">
    <option value="BWN" aria-label="Bandar Seri Begawan (Brunei)">Bandar Seri Begawan (Brunei)</option>
</optgroup>
<optgroup label="Cambodia">
    <option value="PNH" aria-label="Phnom Penh">Phnom Penh</option>
    <option value="REP" aria-label="Siem Reap">Siem Reap</option>
</optgroup>
<optgroup label="China">
    <option value="PEK" aria-label="Beijing">Beijing</option>
    <option value="CAN" aria-label="Guangzhou (Canton)">Guangzhou (Canton)</option>
    <option value="HAK" aria-label="Haikou">Haikou</option>
    <option value="LJG" aria-label="Lijiang">Lijiang</option>
    <option value="NGB" aria-label="Ningbo">Ningbo</option>
    <option value="PVG" aria-label="Shanghai">Shanghai</option>
    <option value="SZX" aria-label="Shenzhen">Shenzhen</option>
    <option value="XMN" aria-label="Xiamen">Xiamen</option>
    <option value="XIY" aria-label="Xian">Xian</option>
</optgroup>
<optgroup label="Hong Kong">
    <option value="HKG" aria-label="Hong Kong">Hong Kong</option>
</optgroup>
<optgroup label="India">
    <option value="BLR" aria-label="Bangalore">Bangalore</option>
    <option value="HYD" aria-label="Hyderabad">Hyderabad</option>
    <option value="COK" aria-label="Kochi">Kochi</option>
    <option value="TRV" aria-label="Thiruvananthapuram">Thiruvananthapuram</option>
    <option value="TRZ" aria-label="Tiruchirapalli">Tiruchirapalli</option>
</optgroup>
<optgroup label="Indonesia">
<option value = "DPS" aria-label="Bali (Denpasar)">Bali (Denpasar)</option>
<option value = "BDO" aria-label="Bandung">Bandung</option>
<option value = "CGK" aria-label="Jakarta">Jakarta</option>
<option value = "SUB" aria-label="Surabaya">Surabaya</option>
</optgroup>
<optgroup label="Japan">
    <option value="FUK" aria-label="Fukuoka">Fukuoka</option>
    <option value="NGO" aria-label="Nagoya">Nagoya</option>
    <option value="KIX" aria-label="Osaka (Kansai)">Osaka (Kansai)</option>
    <option value="NRT" aria-label="Tokyo (Narita)">Tokyo (Narita)</option>
</optgroup>
<optgroup label="Kuwait">
    <option value="KWI" aria-label="Kuwait">Kuwait</option>
</optgroup>
<optgroup label="Macau">
    <option value="MFM" aria-label="Macau">Macau</option>
</optgroup>
<optgroup label="Malaysia">
<option value = "BKI" aria-label="Kota Kinabalu">Kota Kinabalu</option>
<option value = "KUL" aria-label="Kuala Lumpur">Kuala Lumpur</option>
<option value = "LGK" aria-label="Langkawi">Langkawi</option>
<option value = "PEN" aria-label="Penang">Penang</option>
</optgroup>
<optgroup label="Maldives">
    <option value="MLE" aria-label="Male (Maldives)">Male (Maldives)</option>
</optgroup>
<optgroup label="Myanmar">
    <option value="RGN" aria-label="Yangon">Yangon</option>
</optgroup>
<optgroup label="Philippines">
    <option value="BCD" aria-label="Bacolod">Bacolod</option>
    <option value="TAG" aria-label="Bohol (Tagbilaran)">Bohol (Tagbilaran)</option>
    <option value="MPH" aria-label="Boracay (Caticlan)">Boracay (Caticlan)</option>
    <option value="BXU" aria-label="Butuan">Butuan</option>
    <option value="CGY" aria-label="Cagayan de Oro">Cagayan de Oro</option>
    <option value="CYP" aria-label="Calbayog">Calbayog</option>
    <option value="CGM" aria-label="Camiguin">Camiguin</option>
    <option value="CYZ" aria-label="Cauayan">Cauayan</option>
    <option value="CEB" aria-label="Cebu">Cebu</option>
    <option value="CRK" aria-label="Clark">Clark</option>
    <option value="USU" aria-label="Coron (Busuanga)">Coron (Busuanga)</option>
    <option value="CBO" aria-label="Cotabato">Cotabato</option>
    <option value="DVO" aria-label="Davao">Davao</option>
    <option value="DPL" aria-label="Dipolog">Dipolog</option>
    <option value="DGT" aria-label="Dumaguete">Dumaguete</option>
    <option value="GES" aria-label="General Santos">General Santos</option>
    <option value="ILO" aria-label="Iloilo">Iloilo</option>
    <option value="KLO" aria-label="Kalibo">Kalibo</option>
    <option value="LGP" aria-label="Legazpi">Legazpi</option>
    <option value="MBT" aria-label="Masbate">Masbate</option>
    <option value="WNP" aria-label="Naga">Naga</option>
    <option value="OMC" aria-label="Ormoc">Ormoc</option>
    <option value="OZC" aria-label="Ozamiz">Ozamiz</option>
    <option value="PAG" aria-label="Pagadian">Pagadian</option>
    <option value="PPS" aria-label="Puerto Princesa">Puerto Princesa</option>
    <option value="RXS" aria-label="Roxas">Roxas</option>
    <option value="SJI" aria-label="San Jose (Mindoro)">San Jose (Mindoro)</option>
    <option value="IAO" aria-label="Siargao">Siargao</option>
    <option value="SUG" aria-label="Surigao">Surigao</option>
    <option value="TBH" aria-label="Tablas">Tablas</option>
    <option value="TAC" aria-label="Tacloban">Tacloban</option>
    <option value="TDG" aria-label="Tandag">Tandag</option>
    <option value="TWT" aria-label="Tawi-Tawi">Tawi-Tawi</option>
    <option value="TUG" aria-label="Tuguegarao">Tuguegarao</option>
    <option value="VRC" aria-label="Virac">Virac</option>
    <option value="ZAM" aria-label="Zamboanga">Zamboanga</option>
</optgroup>
<optgroup label="Qatar">
    <option value="DOH" aria-label="Doha">Doha</option>
</optgroup>
<optgroup label="Saudi Arabia">
    <option value="RUH" aria-label="Riyadh">Riyadh</option>
</optgroup>
<optgroup label="Singapore">
    <option value="SIN" aria-label="Singapore">Singapore</option>
</optgroup>
<optgroup label="South Korea">
    <option value="PUS" aria-label="Busan">Busan</option>
    <option value="ICN" aria-label="Seoul (Incheon)">Seoul (Incheon)</option>
</optgroup>
<optgroup label="Taiwan">
    <option value="TPE" aria-label="Taipei">Taipei</option>
</optgroup>
<optgroup label="Thailand">
    <option value="BKK" aria-label="Bangkok">Bangkok</option>
    <option value="CNX" aria-label="Chiang Mai">Chiang Mai</option>
    <option value="HDY" aria-label="Hat Yai">Hat Yai</option>
    <option value="KBV" aria-label="Krabi">Krabi</option>
    <option value="HKT" aria-label="Phuket">Phuket</option>
</optgroup>
<optgroup label="United Arab Emirates">
    <option value="DXB" aria-label="Dubai">Dubai</option>
</optgroup>
<optgroup label="United States of America">
    <option value="GUM" aria-label="Guam">Guam</option>
</optgroup>
<optgroup label="Vietnam">
    <option value="HAN" aria-label="Hanoi">Hanoi</option>
    <option value="SGN" aria-label="Ho Chi Minh">Ho Chi Minh</option>
</optgroup>